
body {
   max-width: 95%;
   width: 800px;
   margin: auto;
   margin-top: 0px;
   letter-spacing: 1px;
   padding: 0px 5px 0px 5px;
   font-family: Geo, sans-serif;
   background-color: #586e75;
}

#content {
   background-color: #073642;
   padding-bottom: 20px;
}

.threed {
   margin: 0 auto;
}

.anchor {
   position: relative;
   display: inline-block;
   width: 800px;
   height: 800px;
}

#menu {
   white-space: nowrap;
   margin: 0 auto;
   width: 45%;
}

#menu > div {
   display:inline-block;
   height: 50px;
   width: 120px;
   color: #859900;
   font-size: 200%;
   text-align: center;
}

#menu > div:hover {
   cursor: hand;
   cursor: pointer;
   color: #d33682;
}

#menu > div:active{
   color: #d33682;
   font-size: 200%;
}

#menu > div + div {
   margin-left: 0px;
}

h1 {
   font-size: 1000%;
   color: #859900;
   text-align:center;
}

h2 {
   color: #d33682;
   margin-left: 20px;
}

h2.sub {
   margin-left: 0px;
   text-align:center;
   margin-top : -20px;
}

p {
   margin-left: 20px;
   margin-right: 20px;
   color: #859900;
   font-family:mono;
   font-size: 18px;
}

canvas {
   position: absolute;
   left: 0px;
   top: 0px;
   background-color: transparent;
   border: none;
}

#start {
   height: 800px;
   width: 800px;
   position: absolute;
   left: 0px;
   top: 0px;
   border: none;
   z-index:4;
   line-height:800px;
   text-align:center;
   vertical-align:middle;
   color: #d33682;
   font-size: 300%;
}

#text {
   z-index:3;
}

#ssb {
   z-index:2;
   background-size: 100%;
}
